.button_item1 {
    width: 209px;
    height: 80px;

    background:lightyellow;
    border: 2px solid;
    border-radius: 3px;

    margin-bottom: 5px;
    margin-right: 5px;
}

.button_item2 {
    width: 100px;
    height: 80px;
    z-index: 1000px;

    background:lightyellow;
    border: 2px solid;
    border-radius: 3px;

    margin-bottom: 5px;
    margin-right: 5px;
}

.button_p {
    text-align: center;
    font-size: 50px;

    -webkit-user-select: none;
}